@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}
/* FELSŐ FEJLÉC */
.top-header {
    background-color: #ffffff;
    border-bottom: 1px solid #e5e5e5;
    padding: 10px 0;
}

.logo {
    height: 40px;
}

.brand-text {
    font-weight: 600;
    color: #3b3b3b;
    font-size: 16px;
}

/* ALSÓ KÉK MENÜSÁV */
.sub-nav {
    background-color: #184f8c; /* sötétkék */
    padding: 12px 0;
    position: sticky;
    top: 0;
    z-index: 1030;
}

.sub-nav-link {
    background-color: transparent;
    color: #ffffff;
    padding: 8px 18px;
    font-weight: 600;
    text-decoration: none;
    border-radius: 3px;
    letter-spacing: 0.5px;
    transition: background-color 0.2s ease;
}

/* AKTÍV / KIEMELT MENÜ */
.sub-nav-link.active,
.sub-nav-link:hover {
    box-shadow: inset 0 -3px 0 #ffffff;
    background-color: #1f9bd1; /* világoskék */
    color: #ffffff;
}
.main-content {
    margin-top: 24px;
}
.sub-nav {
}
